* {
  box-sizing: border-box; /*border, padding, content 다 합쳐서 width와 height이 계산됨*/
}

/*사용자에게는 안보이지만 screen reader에는 나타남*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
  vertical-align: middle;
}

/* 자식 선택자*/
#header-search h1 {
  width: 222px;
  height: 52px;
  display: inline-block;
  background-image: url(./sp_main_4f8ccb.png);
  background-position: -10px -165px;
  background-size: 471px 442px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d;
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}
