{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
    <!--<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />-->
  </head>
  <body>
    <header>
      <a href="/" class="logo">My SW Idea Manage</a>
      <a href="/register">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="/tool/register">개발툴 등록</a>
      <a href="/tool">개발툴 관리</a>
    </header>
    <div class="detail">
      <div class="buttons">
            <a class="btn" href="/edit/{{idea.id}}">수정</a>
            <a class="btn" href="/">목록</a>
            <form action="/delete/{{idea.id}}" method="post">
              {% csrf_token%}
              <button class="btn">삭제</button>
            </form>
          </div>
      </div>
      <div class="box">
        <div class="name">
          <h2>{{ idea.name }}</h2>
        </div>
        <div class="content">
            <div class="image_and_content">
              <div class="like">
                <button id="{{idea.id}}" onclick="idea_like(this.id)">
                  {%if request.user in idea.like.all%}
                  <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                  <i id="heart{{idea.id}}" class="fas fa-star"></i>
                  {%else%}
                  <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                  <i id="heart{{idea.id}}" class="far fa-star"></i>
                  {%endif%}
                </button>
              </div>
              <div>
                  <img src="{{idea.image.url}}" style="width: 300px; height: 300px" />
              </div>
              <div>
                <div class="interest">
                    <span class="property">아이디어 관심도 : </span>
                    <span>{{ idea.interest }}</span>
                  </div>
                  <div class="tool">
                    <span class="property">예상 개발 툴 : </span>
                    <a href="/tool/detail/{{idea.tool.id}}">{{ idea.tool.name }}</a>
                  </div>
                  <div class="description">
                    <span class="property">아이디어 설명 : </span>
                    <span>{{ idea.description }}</span>
                  </div>
              </div>
            </div>
          </br>
          <div class="review">
            <p>{{ review.review }}</p>
          </div>
        </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function idea_like(id) {
        $.ajax({
          url: "like",
          data: {
            idea_id: id,
          },
          dataType: "json",
          success: function (response) {
            // ajax 통신이 정상적으로 완료되었을 때
            $("#message").html(response.message); //id가 message의 내용을 전송받은 message로 바꾼다
            if (response.message == "좋아요") {
              //좋아요 눌렀을 때
              $("#heart" + id).attr("class", "fas fa-star");
            } else if (response.message == "좋아요 취소") {
              //좋아요 상태에서 다시 눌렀을 때
              $("#heart" + id).attr("class", "far fa-star");
            }
          },
        });
      }
    </script>
  </body>
</html>