{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <title></title>
    <!--<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />-->
  </head>
  <body>
    <header style="margin-bottom: 100px">
      <a href="/" class="logo">My SW Idea Manage</a>
      <a href="/register">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="/tool/register">개발툴 등록</a>
      <a href="/tool">개발툴 관리</a>
    </header>
    <div class="main">
      <form id="order" action="/" method="GET">
        <select name="order">
          {% for menu in order_list %} {% if menu == order %}
          <option selected="selected">{{menu}}</option>
          {% else %}
          <option>{{menu}}</option>
          {% endif %} {% endfor %}
        </select>
        <input class="btn" type="submit" value="검색" />
      </form>
      <div class="ideas" style="display: flex">
        {% for idea in ideas %}
        <article style="margin: 100px 20px">
          <button id="{{idea.id}}" onclick="idea_like(this.id)">
            {%if request.user in idea.like.all%}
            <i id="heart{{idea.id}}" class="fas fa-star"></i>
            {%else%}
            <i id="heart{{idea.id}}" class="far fa-star"></i>
            {%endif%}
          </button>
          {% if idea.image %}
          <div>
            <img src="{{idea.image.url}}" style="width: 300px; height: 300px" />
          </div>
          {% endif %}
          <div class="content">
            <div class="name">
              <a href="/detail/{{idea.id}}">{{idea.name}}</a>
            </div>
            <div class="summary">
              <div class="tool">
                <span class="property">예상 개발 툴 : </span>
                <span>{{idea.tool.name}}</span>
              </div>
              <div class="interest">
                <span class="property">아이디어 관심도 : </span>
                <button id="{{idea.id}}" onclick="idea_interest_plus(this.id)">
                  +
                </button>
                <span id="interest{{idea.id}}">{{idea.interest}}</span>
                <button id="{{idea.id}}" onclick="idea_interest_minus(this.id)">
                  -
                </button>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function idea_like(id) {
        $.ajax({
          url: "like",
          data: {
            idea_id: id,
          },
          dataType: "json",
          success: function (response) {
            $("#message").html(response.message);
            if (response.message == "좋아요") {
              $("#heart" + id).attr("class", "fas fa-star");
            } else if (response.message == "좋아요 취소") {
              $("#heart" + id).attr("class", "far fa-star");
            }
          },
        });
      }
      function idea_interest_plus(id) {
        $.ajax({
          url: "interest_plus/",
          data: {
            idea_id: id,
          },
          dataType: "json",
          success: function (response) {
            $("#interest" + id).text(response.interest);
          },
        });
      }
      function idea_interest_minus(id) {
        $.ajax({
          url: "interest_minus/",
          data: {
            idea_id: id,
          },
          dataType: "json",
          success: function (response) {
            $("#interest" + id).text(response.interest);
          },
        });
      }
    </script>
  </body>
</html>
