<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo">My SW Idea Manage</a>
      <a href="/register">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="/tool/register">개발툴 등록</a>
      <a href="/tool">개발툴 관리</a>
    </header>
    <form action="/register" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      <input type="submit" value="제출" />
    </form>
  </body>
</html>
