{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
    <!--<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />-->
  </head>
  <body>
    <header>
      <a href="/" class="logo">My SW Idea Manage</a>
      <a href="/register">아이디어 등록</a>
      <a href="/">아이디어 관리</a>
      <a href="/tool/register">개발툴 등록</a>
      <a href="/tool">개발툴 관리</a>
    </header>
    <div class="main">
      <div class="tools">
        {% for tool in tools %}
        <article>
          <div class="content">
            <div class="name">
              <a href="/tool/detail/{{tool.id}}">{{tool.name}}</a>
            </div>
            <div class="type">
              <span>{{tool.type}}</span>
            </div>
            <div class="description">
              <span>{{tool.description}}</span>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
