* {
  box-sizing: border-box; /*border, padding, content 다 합쳐서 width와 height이 계산됨*/
}

#fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*사용자에게는 안보이지만 screen reader에는 나타남*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}

#header-search a {
  text-decoration: none;
  vertical-align: middle;
}

/* 자식 선택자*/
#header-search h1 {
  width: 222px;
  height: 52px;
  display: inline-block;
  background-image: url(./sp_main_4f8ccb.png);
  background-position: -10px -165px;
  background-size: 471px 442px;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#header-search h1 span {
  display: none;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  width: 521px;
  height: 49px;
  display: inline-block;
  border: 2px solid #03cf5d;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 405px;
  height: 23px;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -1px;
  top: -1px;
}

#search-image {
  background-image: url(./sp_main_4f8ccb.png);
  background-position: 41px 0px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 500px 500px;
}
