{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title>영화 기록장</title>
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
  </head>
  <body>
    <header>
      <a href="/review" class="logo">영화 기록장</a>
      <a href="/create" class="create"
        >새 영화 기록하기 <i class="fa-solid fa-pencil"></i
      ></a>
    </header>
    <div class="detail_main stripe">
      <div class="buttons">
        <a class="btn" href="/review/{{review.id}}/update">수정</a>
        <form action="/delete/{{review.id}}" method="post">
          {% csrf_token%}
          <button class="btn">삭제</button>
        </form>
      </div>
      <div class="box">
        <div class="title">
          <h2>{{ review.title }}</h2>
        </div>
        <div class="content">
            <div class="image_and_content">
                <div>
                    <img
                      src="https://picsum.photos/seed/{{review.id}}/225/292"
                      alt=""
                    />
                  </div>
                <div>
                    <div class="year">
                        <span class="property my-wavy">개봉년도</span>
                        <span>{{ review.year }}</span>
                      </div>
                      <div class="director">
                        <span class="property my-wavy">감독</span>
                        <span>{{ review.director }}</span>
                      </div>
                      <div class="actor">
                        <span class="property my-wavy">주연</span>
                        <span>{{ review.actor }}</span>
                      </div>
                      <div class="genre">
                        <span class="property my-wavy">장르</span>
                        <span>{{ review.genre }}</span>
                      </div>
                      <div class="star">
                        <span class="property my-wavy">별점</span>
                        <span>{{ review.star }}점</span>
                      </div>
                      <div class="runtime">
                        <span class="property my-wavy">러닝타임</span>
                        <span>{{ runtime }}</span>
                      </div>
                </div>
            </div>
          </br>
          <div class="review">
            <p>{{ review.review }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
