{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title>영화 기록장</title>
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
  </head>
  <body>
    <header>
      <a href="/review" class="logo">영화 기록장</a>
      <a href="/create" class="create"
        >새 영화 기록하기 <i class="fa-solid fa-pencil"></i
      ></a>
    </header>
    <article>
        <h2>
            {{ review.title }}
        </h2>
        <p>
            개봉년도: {{ review.year }}
            감독: {{ review.director }}
            주연: {{ review.actor }}
            장르 : {{ review.genre }}
            별점 : {{ review.star }}
            러닝타임 : {{ runtime }}
        </p>
			{{ review.review }}
        </p>
    </article>
    <div>
        <a href="/review/{{review.id}}/update">수정</a>
        <form action="/delete/{{review.id}}" method="post">
            {% csrf_token%}
            <button>delete</button>
        </form>
    </div>
</body>
</html>