{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/f578b19b63.js"
      crossorigin="anonymous"
    ></script>
    <title>영화 기록장</title>
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
  </head>
  <body>
    <header>
      <a href="/review" class="logo">영화 기록장</a>
      <a href="/create" class="create"
        >새 영화 기록하기 <i class="fa-solid fa-pencil"></i
      ></a>
    </header>
    <div class="create_main stripe">
      <div class="box">
        <div class="sub-title">영화 기록지</div>
        <form action="/create" method="post">
          {% csrf_token %}
          <div class="form-element title">
            <span>제목 : </span>
            <input type="text" name="title" />
          </div>
          <div class="form-element year">
            <span>개봉년도 : </span>
            <input type="text" name="year" />
          </div>
          <div class="form-element genre">
            <span>장르 : </span>
            <select name="genre" autofocus>
              {% for genre in genres %}
              <option>{{genre.1}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-element star">
            <span>별점 : </span>
            <input type="text" name="star" />
          </div>
          <div class="form-element runtime">
            <span>러닝타임 : </span>
            <input type="text" name="runtime" />
          </div>
          <div class="form-element review">
            <span>리뷰 : </br></br></span>
            <textarea name="review" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="form-element director">
            <span>감독 : </span>
            <input type="text" name="director" />
          </div>
          <div class="form-element actor">
            <span>배우 : </span>
            <input type="text" name="actor" />
          </div>
          <div class="form-element submit">
            <input class="btn" type="submit" value="기록하기" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
